* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #303030;
}

div.start {
  width: 60%;
  margin: auto;
  color: white;
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 40px;
  background-color: #000040;
  padding: 5%;
  outline: #000040;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

h2 {
  margin: 0px;
  width: auto;
}

h1 {
  color: orange;
  display: block;
  margin: 0px;
  text-shadow: 0 1px 0 #e64900, 0 2px 0 #e64900, 0 3px 0 #e64900,
    0 4px 0 #e64900, 0 5px 0 #e64900, 0 6px 0 #e64900, 0 7px 0 #e64900,
    0 8px 0 #e64900, 0 9px 0 #e64900, 0 10px 0 #e64900, 0 11px 0 #e64900,
    0 12px 0 #e64900;
}

p {
  font-size: 20px;
}

a {
  cursor: pointer;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.page > img {
  max-width: 864px;
  max-height: 648px;
  width: 100%;
}

.page {
  display: block;
  max-width: 884px;
  width: 66%;
  margin: auto;
  color: white;
  background-color: black;
  padding: 20px;
  box-shadow: 0px 0px 10px black;
}

.text {
  margin: 10px 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: lightgreen;
}

.yellow {
  color: yellow;
}


.buttons1 {
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 100%;
  margin: auto;
  box-shadow: 0px 0px 5px white;
}

.buttons2 {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;

  text-align: center;
  font-size: 80%;
  margin: auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.popup {
  display: none;
  color: white;
  background-color: black;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.popup.visible {
  display: block;
}

.backpop {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #50505060;
}

.backpop.visible {
  display: block;
}

.poptext {
  margin: auto;
  padding: 10px;
  max-width: 600px;

}

input[type="submit"] {
  margin: 5px;
}

.centeritems {
  text-align: center;
}

.ball {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: scale(300%);
}

.ball.r1 {
  transform: translate(-50%, -50%) rotate(0turn) scale(300%);
}

.ball.r2 {
  transform: translate(-50%, -50%) rotate(0.25turn) scale(300%);
}
.ball.r3 {
  transform: translate(-50%, -50%) rotate(0.5turn) scale(300%);
}
.ball.r4 {
  transform: translate(-50%, -50%) rotate(0.75turn) scale(300%);
}

.canvas {
  margin-top: 16px;
  overflow: hidden;

  background-color: black;
  max-width: 864px;
  max-height: 648px;
  width: 864px;
  height: 648px;
  top: 0%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -0%);
  transform-origin: center top;
  display: block;
}



.textholder {
  position: absolute;
  transform: translate(-50%, -50%);

  cursor: pointer;
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 640px;
  height: 140px;
  text-align: center;
  font-size: large;
  margin: auto;
}

.intextholder {
  width: 600px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0px;
  display: none;
}

.intextholder.visible {
  display: block;
}

#buttongreen:hover {
  color: green;
}
#buttonblue:hover {
  color: blue;
}
#buttonred:hover {
  color: red;
}
#buttonyellow:hover {
  color: yellow;
}
#buttonpurple:hover {
  color: purple;
}
#buttonspecial:hover {
  color: orange;
}
#buttonnoone:hover {
  color: brown;
}

.incase {
  font-size: small;
}
